select {
    background-color: white;
    border-radius: 100px 100px 100px 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    height: 32px;
    color: #404040;
    padding: 0px 20px;    
}

.sort-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
}

.sort {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}

#filter-select{
    flex-grow: 1;
}

#sort-select{
    flex-grow: 1;
}


.sort label {
    display: block;
    font-size: 16px;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}

.filter label {
    display: block;
    font-size: 16px;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}